<!-- defaultTemplate.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Meta tag to set the character set to UTF-8 -->
    <meta charset="UTF-8">
    <!-- Title of the HTML document -->
    <title>Title</title>

    <!-- Including jQuery library from Google's CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Including the latest compiled and minified CSS from Bootstrap's CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Including an optional theme from Bootstrap's CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Including the latest compiled and minified JavaScript from Bootstrap's CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
<!-- Main div aligned center -->
<div align="center">
    <!-- Including the header from common layout -->
    <div th:replace="layouts/common :: header"></div>
    <!-- Section for content, to be filled by specific pages -->
    <section layout:fragment="content"></section>
    <!-- Section for table, to be filled by specific pages -->
    <section layout:fragment="table"></section>
    <!-- Including the footer from common layout -->
    <div th:replace="layouts/common :: footer"></div>
</div>
</body>
</html>
