<!-- addCategory.html -->
<!-- This template is used for adding categories to the database -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:form="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " layout:decorate="layouts/defaultTemplate">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous">
</script>

<head>
    <!-- Styling for footer and input form -->
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: white;
            text-align: center;
            padding: 5px 0;
        }

        .inputForm {
            width: 300px;
            margin-top: 50px;
        }

    </style>
    <!-- Meta tag to set the character set to UTF-8 -->
    <meta charset="UTF-8">
    <!-- Title of the HTML document -->
    <title>Add Categories</title>

</head>
<body>
<!-- Main content division -->
<div layout:fragment="content">
    <!-- Form for adding categories, posts to /categories/addCategory -->
    <form class="inputForm" th:action="@{/categories/addCategory}" th:object="${categoryModel}" method="post">
        <label for="categoryName"></label><input type="text" id="categoryName" name="categoryName" placeholder="Category Name" class="form-control form-control-lg"
                                                th:field="*{categoryName}"/>
        <h5 style="color: red" th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}"></h5>
        <button class="btn btn-primary" type="submit">Add Category</button>
    </form>
</div>
<!-- Footer division -->
<div layout:fragment="footer" class="footer"></div>
</body>
</html>
